/*@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-1: #f3f5fc;
    --cor-2: #ffffff;
    --cor-3: #0a3871;
    --cor-4: #D8DFE8;

    --font-1: 'inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F3F5FC;
    margin: 0;
}

.apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
}

.apresentacao__section {
    width: 680px;
    margin: 30px;
}

.imagem__topo {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    margin: 40px 0 0 20px;
}

.input__text {
    width: 680px;
    height: 700px;
    margin-top: 90px;
    margin-left: 100px;
    border: none;
    outline: none;
    background-color: var(--cor-1);
    font-family: var(--font-1);
    font-size: 2rem;
    line-height: 48px;
    font-weight: 400;
    color: var(--cor-3);
    resize: none;
}

.input__text__paragrafo {
    width: 252px;
    height: 18px;
    opacity: 80%;
    font-family: var(--font-1);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 18px;
    color: #45565f;
    gap: 3px;
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.input__text::placeholder {
    background-color: var(--cor-1);
    color: var(--cor-3);
}

.section__div {
    position: relative;
    display: flex;
    align-items: center;
    width: 680px;
    gap: 24px;
    margin: 10px 0 0 100px;
}

.botao__criptografar {
    width: 328px;
    height: 67px;
    color: white;
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 1rem;
    line-height: 19.36px;
    align-items: center;
    background-color: var(--cor-3);
    border-radius: 24px;
    border: 1px solid transparent;
}

.botao__descriptografar {
    width: 328px;
    height: 67px;
    color: var(--cor-3);
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 1rem;
    line-height: 19.36px;
    align-items: center;
    background-color: var(--cor-4);
    border: 1px solid transparent;
    border-radius: 24px;
}

.apresentacao__article {
    background-color: var(--cor-2);
    width: 400px;
    height: 944px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0px 30px 60px;
}

.imagem__article {
    width: 336px;
    height: 304px;
    margin-top: 243px;
}

.paragrafo__article {
    width: 336px;
    height: 58px;
    font-family: var(--font-1);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 28.8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}

.esconder {
    display: none;
}

.output__text {
    width: 360px;
    height: 830px;
    margin-top: 10px;
    border-radius: 19px;
    border: none;
    outline: none;
    background-color: var(--cor-2);
    font-family: var(--font-1);
    font-size: 1.5rem;
    line-height: 36px;
    font-weight: 400;
    color: #495057;
    resize: none;
}

.output__text::placeholder {
    font-family: var(--font-1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 15px 5px 5px 5px;
    color: var(--cor-3);
}

.botao__copiar {
    display: none;
    width: 328px;
    height: 67px;
    color: var(--cor-3);
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 1rem;
    line-height: 19.36px;
    align-items: center;
    background-color: var(--cor-4);
    border: 1px solid transparent;
    border-radius: 24px;
}

.rodape {
    display: flex;
    justify-content: center;
    background-color: var(--cor-4);
    padding: 1%;
}

.rodape__paragrafo {
    font-family: var(--font-1);
    font-size: 1rem;
    color: #45565f;
    font-weight: 500;
}

.botao__criptografar:hover {
    font-size: 1.1rem;
}

.botao__descriptografar:hover {
    font-size: 1.1rem;
}

.botao__copiar:hover {
    font-size: 1.1rem;
}

@media (max-width: 768px) {
    body {
        width: 100%;
    }
    .apresentacao {
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }
    .imagem__topo {
        margin:70px 2px;
    }
    .input__text {
        height: 400px;
        margin-top: 150px;
        margin-left: 10px; 
    }
    .input__text__paragrafo {
        margin-left: 10px;
    }
    .section__div {
        margin: 10px;
    }
    .apresentacao__article {
        width: 680px;
        height: 133px;
        gap: 3px;
        margin: 5px;
        transition: height 0.3s ease;
    }
    .paragrafo__article {
        width: 640px;
        height: 20px;
        margin-top: 25px;
    }
    .output__text {
        width: 640px;
        height: 133px;
        margin: 10px;
        border-radius: 0;
    }
    .botao__copiar {
        margin: 5px;
    }
    .rodape {
        display: none;
    }
    .imagem__article {
        display: none;
    }
}
@media (max-width: 425px) {
    body {
        width: 100%;
    }
    .apresentacao {
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
    .imagem__topo {
        margin: 18px 0 50px 135px;
    }
    
    .input__text {
        margin-left: 323px;
        margin-top: 100px;
        width: 343px;
    }
    .input__text__paragrafo {
        margin-left: 326px;
    }
    .section__div {
        flex-direction: column;
        margin-left: 150px;
    }
    .apresentacao__article {
        width: 328px;
        height: 133px;
        margin-left: 310px;
        transition: height 0.3s ease;
    }
    .paragrafo__article {
        width: 328px;
    }
    .output__text {
        width: 308px;
        margin: 30px;
        height: 133px;
    }
}*/

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-1: #f3f5fc;
    --cor-2: #ffffff;
    --cor-3: #0a3871;
    --cor-4: #D8DFE8;

    --font-1: 'inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F3F5FC;
    margin: 0;
    width: 100%;
    overflow-x: hidden; /* Adicionado para evitar rolagem horizontal */
}

.apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    flex-wrap: wrap; /* Permitir quebra de linha para telas menores */
}

.apresentacao__section {
    width: 100%; /* Ajustado para 100% em vez de valor fixo */
    max-width: 680px; /* Adicionado valor máximo para largura */
    margin: 30px;
}

.imagem__topo {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    margin: 40px 0 0 20px;
}

.input__text {
    width: 100%; /* Ajustado para 100% em vez de valor fixo */
    max-width: 680px; /* Adicionado valor máximo para largura */
    height: 700px;
    margin-top: 90px;
    border: none;
    outline: none;
    background-color: var(--cor-1);
    font-family: var(--font-1);
    font-size: 2rem;
    line-height: 48px;
    font-weight: 400;
    color: var(--cor-3);
    resize: none;
}

.input__text__paragrafo {
    width: 250px;
    height: 18px;
    opacity: 80%;
    font-family: var(--font-1);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 18px;
    color: #45565f;
    gap: 3px;
    display: flex;
    align-items: center;
    margin-left: 0; /* Ajustado para zero em vez de valor fixo */
}

.input__text::placeholder {
    background-color: var(--cor-1);
    color: var(--cor-3);
}

.section__div {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%; /* Ajustado para 100% em vez de valor fixo */
    max-width: 680px; /* Adicionado valor máximo para largura */
    gap: 24px;
    margin: 10px 0 0 0; /* Ajustado para zero em vez de valor fixo */
}

.botao__criptografar, .botao__descriptografar {
    width: 100%;
    max-width: 328px; /* Adicionado valor máximo para largura */
    height: 67px;
    color: white;
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 1rem;
    line-height: 19.36px;
    align-items: center;
    background-color: var(--cor-3);
    border-radius: 24px;
    border: 1px solid transparent;
}

.botao__descriptografar {
    color: var(--cor-3);
    background-color: var(--cor-4);
}

.apresentacao__article {
    background-color: var(--cor-2);
    width: 100%; /* Ajustado para 100% em vez de valor fixo */
    max-width: 400px; /* Adicionado valor máximo para largura */
    height: 944px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0px 30px 0; /* Ajustado para zero em vez de valor fixo */
}

.imagem__article {
    width: 100%; /* Ajustado para 100% em vez de valor fixo */
    max-width: 336px; /* Adicionado valor máximo para largura */
    height: 304px;
    margin-top: 243px;
}

.paragrafo__article {
    width: 100%; /* Ajustado para 100% em vez de valor fixo */
    max-width: 336px; /* Adicionado valor máximo para largura */
    height: 58px;
    font-family: var(--font-1);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 28.8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}

.esconder {
    display: none;
}

.output__text {
    width: 100%; /* Ajustado para 100% em vez de valor fixo */
    max-width: 360px; /* Adicionado valor máximo para largura */
    height: 830px;
    margin-top: 10px;
    border-radius: 19px;
    border: none;
    outline: none;
    background-color: var(--cor-2);
    font-family: var(--font-1);
    font-size: 1.5rem;
    line-height: 36px;
    font-weight: 400;
    color: #495057;
    resize: none;
}

.output__text::placeholder {
    font-family: var(--font-1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 15px 5px 5px 5px;
    color: var(--cor-3);
}

.botao__copiar {
    display: none;
    width: 100%; /* Ajustado para 100% em vez de valor fixo */
    max-width: 328px; /* Adicionado valor máximo para largura */
    height: 67px;
    color: var(--cor-3);
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 1rem;
    line-height: 19.36px;
    align-items: center;
    background-color: var(--cor-4);
    border: 1px solid transparent;
    border-radius: 24px;
}

.rodape {
    display: flex;
    justify-content: center;
    background-color: var(--cor-4);
    padding: 1%;
    width: 100%;
}

.rodape__paragrafo {
    font-family: var(--font-1);
    font-size: 1rem;
    color: #45565f;
    font-weight: 500;
}

.botao__criptografar:hover, .botao__descriptografar:hover, .botao__copiar:hover {
    font-size: 1.1rem;
}

@media (max-width: 768px) {
    body {
        width: 100%;
    }
    .apresentacao {
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }
    .imagem__topo {
        margin: 70px 2px;
    }
    .input__text {
        height: 400px;
        margin-top: 150px;
        margin-left: 10px; 
        width: calc(100% - 20px); /* Ajustado para ocupar a largura total menos margens */
    }
    .input__text__paragrafo {
        margin-left: 10px;
    }
    .section__div {
        margin: 10px;
    }
    .apresentacao__article {
        /*width: calc(100% - 20px);
        Ajustado para ocupar a largura total menos margens */
        width: 100%;
        max-width: 680px;
        height: 133px;
        gap: 3px;
        margin: 5px;
        transition: height 0.3s ease;
    }
    .paragrafo__article {
        width: 100%; /* Ajustado para 100% em vez de valor fixo */
        max-width: 680px; /* Adicionado valor máximo para largura */
        height: 20px;
        margin-top: 25px;
    }
    .output__text {
        width: 100%; /* Ajustado para 100% em vez de valor fixo */
        max-width: 640px; /* Adicionado valor máximo para largura */
        height: 133px;
        margin: 10px;
        border-radius: 0;
    }
    .botao__copiar {
        margin: 5px;
    }
    .rodape {
        display: none;
    }
    .imagem__article {
        display: none;
    }
}
@media (max-width: 425px) {
    body {
        width: 100%;
    }
    .apresentacao {
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
    .imagem__topo {
        margin: 18px 0 50px 0; /* Ajustado para zero em vez de valor fixo */
        text-align: center; /* Centraliza a imagem */
    }
    .input__text {
        width: 100%; /* Ajustado para 100% em vez de valor fixo */
        max-width: 343px; /* Adicionado valor máximo para largura */
        margin-left: 0; /* Ajustado para zero em vez de valor fixo */
        margin-top: 100px;
    }
    .input__text__paragrafo {
        margin-left: 0; /* Ajustado para zero em vez de valor fixo */
    }
    .section__div {
        flex-direction: column;
        margin: 5px 10px 10px -25px; /* Ajustado para zero em vez de valor fixo */
    }
    .apresentacao__article {
        width: 100%; /* Ajustado para 100% em vez de valor fixo */
        max-width: 328px; /* Adicionado valor máximo para largura */
        height: 133px;
        margin: 5px 10px 10px -25px; /* Ajustado para zero em vez de valor fixo */
        transition: height 0.3s ease;
    }
    .paragrafo__article {
        width: 100%; /* Ajustado para 100% em vez de valor fixo */
        max-width: 328px; /* Adicionado valor máximo para largura */
    }
    .output__text {
        width: 100%; /* Ajustado para 100% em vez de valor fixo */
        max-width: 308px; /* Adicionado valor máximo para largura */
        margin: 30px;
        height: 133px;
    }
}





